.container {
  padding: 50px;
  background-color: #fffacd;
  border-radius: 22px;
}

.icon {
  cursor: pointer;
}

.title_input_container {
  max-width: 300px;
}

.submit_btn {
  text-align: right;
}
